#gerarBtn{
  padding: 10px 20px;
  font-size: 1.5em;
  background-color: rgb(97, 97, 241);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
}
#btnContainer{
    text-align: center;

}
#gerarBtn:hover{
    background-color: rgb(78, 78, 196);
}

#numero{
    font-size: 2em;
    text-align: center;
    display: block;
}