body{
    font-family: Verdana;
    font-size: 2em;
}

#btnContainer{
    text-align: center;
}

.buttons{
  padding: 10px 20px;
  font-size: 1.5em;
  background-color: rgb(97, 97, 241);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgba(97, 97, 241, 0.664);
}